<div class="portal-view">
    <div class="left_part">
        <div class="block voicemails">
            <h1>{{ i18n.userportal.my_voicemails }}</h1>
            <div class="clearfix table_wrapper">
                <table id="voicemail-grid" class="display"></table>
            </div>
        </div>

        <div class="block cdrs">
            <h1>{{ i18n.userportal.my_call_history }}</h1>
            <div class="clearfix table_wrapper">
                <table id="user_cdr-grid" class="display"></table>
            </div>
        </div>
    </div>

    <div class="right_part">
        <div class="block settings_wrapper">
            <h1>{{ i18n.userportal.my_settings }}</h1>
            <div id="settings-view">
                <form>
                <div class="clearfix">
                        <label>{{ i18n.userportal.enable_call_forward }}:</label>
                        <div class="input">
                          <label class="monster-checkbox">
                            {{#if data.call_forward.enabled}}
                                <input class="checkbox" id="call-forward-enabled" name="call_forward.enabled" type="checkbox" checked="checked"/><i></i>
                            {{else}}
                                <input class="checkbox" id="call-forward-enabled" name="call_forward.enabled" type="checkbox"/><i></i>
                            {{/if}}
                          </label>
                         </div>
                     </div>
                    <div id="call-forward-data">
                        <div class="clearfix">
                            <label><span class="icon phone"/>{{ i18n.userportal.forward_calls_to }}:</label>
                            <div class="input">
                                <input id="ring-number-txt" name="ring-number-txt" type="text" value="${data.call_forward.number}"/>
                            </div>
                        </div>
                        <div class="clearfix device-field">
                            <label>{{ i18n.userportal.also_ring_my_voip_phone }}:</label>
                            <div class="input">
                              <label class="monster-checkbox">
                                {{#if data.call_forward.substitute}}
                                    <input class="checkbox" id="ring-device-checkbox" name="ring-device-checkbox" type="checkbox"/><i></i>
                                {{else}}
                                    <input class="checkbox" id="ring-device-checkbox" name="ring-device-checkbox" type="checkbox" checked="checked"/><i></i>
                                {{/if}}
                              </label>
                            </div>
                        </div>
                        <div class="clearfix">
                            <label>{{ i18n.userportal.keep_caller_id }}:</label>
                            <div class="input">
                              <label class="monster-checkbox">
                                {{#if data.call_forward.keep_caller_id}}
                                    <input id="call_forward_keep_caller_id" class="checkbox" name="call_forward.keep_caller_id" type="checkbox" checked="checked"/><i></i>
                                {{else}}
                                    <input id="call_forward_keep_caller_id" class="checkbox" name="call_forward.keep_caller_id" type="checkbox"/><i></i>
                                {{/if}}
                              </label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <label>{{ i18n.userportal.send_voicemail_to_email }}:</label>
                        <div class="input">
                          <label class="monster-checkbox">
                            {{#if data.vm_to_email_enabled}}
                                <input id="vm-to-email-checkbox" class="checkbox" name="vm-to-email-checkbox" type="checkbox" checked="checked"/><i></i>
                            {{else}}
                                <input id="vm-to-email-checkbox" class="checkbox" name="vm-to-email-checkbox" type="checkbox"/><i></i>
                            {{/if}}
                          </label>
                        </div>
                    </div>
                    <div class="clearfix email-field">
                        <label>{{ i18n.userportal.email_address }}:</label>
                        <div class="input">
                            <input id="vm-to-email-txt" name="vm-to-email-txt" type="text" value="{{data.email}}"/>
                        </div>
                    </div>
                    <div class="buttons">
                        <button id="save-settings-link" class="monster-button monster-button-success save-btn">{{ i18n.userportal.save }}</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="block devices_wrapper">
            <h1>{{ i18n.userportal.my_devices }}</h1>
            <div class="help_devices">
                {{ i18n.userportal.registered_devices_are_displayed }}
            </div>
            <div class="list_devices">
                <div class="clear"/>
            </div>
            <!--<div class="buttons">
                <button class="btn success add_device">Add a New Device</button>
            </div>-->
        </div>
    </div>

    <div class="bottom_part">
        <h1>{{ i18n.userportal.my_contact_list }}</h1>
        <div class="help-box gray-box help-contact-list">
          <div class="wrapper-icon"><i class="fa-info-sign2"></i></div>
          <div class="text-wrapper">{{ i18n.userportal.in_order_to_use_the_quickcall_feature }}<br/>{{ i18n.userportal.the_quickcall_feature_will_ring_your_selected_device }}</div>
        </div>
        <div class="table-wrapper">
            <table id="contact_list_grid" class="display">
            </table>
        </div>
    </div>

    <div class="clear"/>
</div>
